<div class="topnav1">
    <a href="/profile/about" <% if(data.pnavFocus == "about"){ %> class="active1"<% } %>><i class="fa fa-fw fa-user-o"></i>ABOUT</a>
    <a href="/profile/resume" <% if(data.pnavFocus == "resume"){ %> class="active1"<% } %>><i class="fa fa-fw fa-id-card"></i>RESUME</a>
    <a href="/profile/works" <% if(data.pnavFocus == "works"){ %> class="active1"<% } %>><i class="fa fa-fw fa-address-book"></i>My Works</a>
    <a href="/profile/blogs" <% if(data.pnavFocus == "blogs"){ %> class="active1"<% } %>><i class="fa fa-fw fa-commenting-o"></i>My Blogs</a>
    <a href="/profile/projects" <% if(data.pnavFocus == "projects"){ %> class="active1"<% } %>><i class="fa fa-fw fa-envelope-open-o"></i>My Given Projects</a>
    <a href="/profile/circulars" <% if(data.pnavFocus == "circulars"){ %> class="active1"<% } %>><i class="fa fa-fw fa-file"></i>MY Given Circulars</a>
    <a href="/profile/contact" <% if(data.pnavFocus == "contact"){ %> class="active1"<% } %>><i class="fa fa-fw fa-envelope"></i>CONTACT</a>
    <!-- <a class="user" href="#user"><i class="fa fa-fw fa-user"></i>USER</a> -->

</div>