<div class="topnav" id="myTopnav">

    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    <a href="/message" <% if(data.pageTitle == "Messages"){ %> class="active"<% } %>> <i class="fa fa-comments" aria-hidden="true"></i> Message</a>
    <a href="/profile/about" <% if(data.pageTitle == "Profile"){ %> class="active"<% } %>> <i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile</a>
    <a href="/datasets" <% if(data.pageTitle == "Dataset"){ %> class="active"<% } %>> <i class="fa fa-briefcase" aria-hidden="true"></i>Find Datasets</a>
    <a href="/projects" <% if(data.pageTitle == "Projects"){ %> class="active"<% } %>> <i class="fa fa-briefcase" aria-hidden="true"></i>Find Project</a>
    <a href="/organization" <% if(data.pageTitle == "Circular Posts"){ %> class="active"<% } %>> <i class="fa fa-university" aria-hidden="true"></i>Find Organization</a>
    <a href="/blogs"<% if(data.pageTitle == "Blogs"){ %> class="active"<% } %>>Blogs</a>
    <a href="/home" <% if(data.pageTitle == "Home"){ %> class="active"<% } %>> <i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <P>StudentBook</P>
</div>