<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello StudentBook</h1>
    <form action="/test" method="POST" enctype="multipart/form-data">
        <input type="file" name="img">
        <input type="text" name="name">
        <input type="submit" value="click">
    </form>
    
    <h1><%  if(  typeof(data) != "undefined" && data.success == true){ %> <%= data.name %>  <% }else{ %> <%= "Nothing to show" %> <% } %>  </h1>
</body>
</html>