<%- include("./partials-user/header.ejs") %>

    <body class="org_body">

        <!-- included main navigation bar-->
        <%- include("./partials-user/navbarMain.ejs") %>


            <div class="org_row">

                
                
                <div id="Toggle" class="org_tabcontent">





                    <div class="org_main">

                        <h2>Given Circulars</h2>
                        <hr class="new1">
                        <div class="circulars_row">
                            
                            <!-- END GRID -->
                            <div class="ui relaxed divided list">
                                
                                    <div class="item">
                                        <i class="large github middle aligned icon"></i>
                                        <div class="circulars_content">
                                            <form action="/circular-save" method="POST">
                                            <div class="description">Organization name: <input type="text" name="orgName" required></div>   
                                            <div class="description">Looking For: <input type="text" name="lookingFor" required></div>
                                            <div class="description">designation: <input type="text" name="designation" required></div>
                                            <div class="description">Job Responsibilities: <input type="text" name="jobDescription" required></div>
                                            <div class="description">Salary: <input type="text" name="salary" required></div>
                                            <div class="description">Employment Status:<input type="text" name="empStatus" required></div>
                                            <div class="description">Workplace: <input type="text" name="workplace" required></div>
                                            <div class="description">Educational requirements: <input type="text" name="eduReq" required></div>
                                            <div class="description">Experience requirements: <input type="text" name="expReq" required></div>
                                            <div class="description" >Additional requirements: <input type="text" name="addReq" required></div>
                                            <div class="description">Job location: <input type="text" name="jobLocation" required></div>
                                            <div class="description">Benefits: <input type="text" name="benefits" required></div>
                                            <div class="description">Job Type: <select name="jobType" id="job-type">
                                                <% for(let i = 0; i < data.jobType.length; i++){ %>
                                                    <option value="<%= data.jobType[i].type_id %>"><%= data.jobType[i].job_cat %></option>
                                                <% } %>  
                                            </select></div>
                                            <div class="description"><input type="submit" value="Post"></div>
                                        </form>
                                        </div>
                                          
                                    </div>
                                
                                
                            </div>
                        </div>

                    </div>

                    <div id="Status" class="org_tabcontent">

                    </div>

                    <div id="Personal_Posts" class="org_tabcontent">


                    </div>


                    <div id="Organizational_Posts" class="org_tabcontent">
                    </div>


                </div>

                <!-- <script>
                    function openCity(evt, cityName) {
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("org_tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }
                        document.getElementById(cityName).style.display = "block";
                        evt.currentTarget.className += " active";
                    }

                    // Get the element with id="defaultOpen" and click on it
                    document.getElementById("defaultOpen").click();
                </script> -->

    </body>

    </html>