<%- include("./partials-user/header.ejs") %>

    <body class="project_body">
        <!-- included main navigation bar-->
        <%- include("./partials-user/navbarMain.ejs") %>


            <h2>Projects</h2>
            <p>
                <h4>Click on the buttons to see details information : </h4>
            </p>

            <div class="project_tab">
                <button class="tablinks" onclick="openCity(event, 'project_IT')" id="defaultOpen">IT</button>
                <button class="tablinks" onclick="openCity(event, 'Agriculture')">Agriculture</button>
                <button class="tablinks" onclick="openCity(event, 'Industrial')">Industrial</button>
            </div>

            <div id="project_IT" class="project_tabcontent">
                <h3>IT</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.

                </p>
            </div>

            <div id="Agriculture" class="project_tabcontent">
                <h3>Agriculture</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                    of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.

            </div>

            <div id="Industrial" class="project_tabcontent">
                <h3>Industrial</h3>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied
                    by English versions from the 1914 translation by H. Rackham.
                </p>
            </div>

            <script>
                function openCity(evt, cityName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("project_tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>


    </body>

    </html>