<%- include("../partials-user/header.ejs") %> 

<body class="contact_body">
    <!-- included main navigation bar-->
    <%- include("../partials-user/navbarMain.ejs") %> 

    <div class="contact_div1">
        <%- include("../partials-user/navbarProfile.ejs") %> 
    </div>


    <div class="contact_main">

        <h3>Contact Section</h3>
        <hr>

        <h4>Swing by for a cup of coffee, or leave us a message</h4>
        <p>Here Below.</p>

        <div class="contact_container">
            <div style="text-align:center">
                <h2>Contact Us</h2>
                <p>Swing by for a cup of coffee, or leave us a message:</p>
            </div>
            <div class="row">
                <div class="contactColumn">
                    <img src="https://cdn.shopify.com/s/files/1/3061/9428/files/contact-us_1024x1024.png?v=1609550665" style="width:100%">
                </div>
                <div class="contactColumn">
                    <form action="/action_page.php">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                        <label for="country">Country</label>
                        <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                  </select>
                        <label for="subject">Subject</label>
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="content">
                    <img src="https://media.istockphoto.com/vectors/email-and-mail-icon-isolated-on-white-background-vector-id946957584?k=6&m=946957584&s=170667a&w=0&h=2-tgV32hcJbdaiKNeLo4SN6rA5RPMpZsiGZLzxEDgw4=" alt="Mountains" style="width:100%">
                    <h3>Mail Here</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="https://nakedsecurity.sophos.com/wp-content/uploads/sites/2/2015/10/facebook-messenger-logo1.jpg" alt="Lights" style="width:100%">
                    <h3>Send Message in Facebook</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="https://images.indianexpress.com/2015/02/whatsapp-security-tips.jpg" alt="Nature" style="width:100%">
                    <h3>Send via Whatsapp</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="https://textport.com/Content/images/text-from-computer-512.png" alt="Mountains" style="width:100%">
                    <h3>Other Sources</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
            </div>
            <!-- END GRID -->
        </div>

        <!-- END MAIN -->
    </div>

</body>

</html>