<%- include("../partials-user/header.ejs") %>


    <body class="resume_body" style="background-color: #f1f1f1;">
        <!-- included main navigation bar-->
        <%- include("../partials-user/navbarMain.ejs") %>

            <%- include("../partials-user/navbarProfile.ejs") %>

                <div class="div" style="position: absolute;
    text-align: right;
    top: 22%; left: 80%;">
                    <img src="https://i.pinimg.com/originals/bc/b3/19/bcb319b817317a6416f9f726bc96747f.jpg" alt="about" width="150px" height="150px">
                    <h3>User User</h3>
                    <p>Researcher</p>
                </div>
                <div style="font-family: 'Times New Roman', Times, serif;font-size: 17px;
    position: absolute;
    text-align: left;
    top: 22%; left: 3%;">
                    <p></p>
                    <p><b>Address:</b></p>
                    <p>177 Great Port Street, Gulshan W5W 6PQ, Dhaka</p>
                    <p><b>Phone:</b></p>
                    <p>+44 (0)20 7666 8555 </p>
                    <p><b>Email:</b></p>
                    <p>user.user@gmail.com</p>
                    <p>USER USER</p>
                    <p><b>Summary</b></p>
                    <p>Senior Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including HTML5, PHP OOP, JavaScript, CSS, MySQL.
                        </span>Strong background in project management and customer relations.</p>
                    <p><b>Skill Highlights</b></p>
                    <table class="table_">
                        <tbody class="calibre2">
                            <tr class="calibre3">
                                <td class="td_">
                                    <ul class="list_">
                                        <li class="block_6"><span>Project management</span></li>
                                        <li class="block_7"><span>Strong decision maker</span></li>
                                        <li class="block_7"><span>Complex problem solver</span></li>
                                    </ul>
                                </td>
                                <td class="td_1">
                                    <ul class="list_">
                                        <li>Creative design</li>
                                        <li>Innovative</li>
                                        <li>Service-focused</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p><b>Experience</b></p>
                    <p>Web Developer</b><span> - 09/2015 to 05/2019</span></p>
                    <p>Luna Web Design</b><span></span>, New York</span>
                    </p>
                    <ul class="list_">
                        <li><span>Cooperate with designers to create clean interfaces and simple, intuitive interactions and experiences.</span></li>
                        <li><span>Develop project concepts and maintain optimal workflow.</span></li>
                        <li><span>Work with senior developer to manage large, complex design projects for corporate clients.</span></li>
                        <li><span>Complete detailed programming and development tasks for front end public and internal websites as well as challenging back-end server code.</span></li>
                        <li><span>Carry out quality assurance tests to discover errors and optimize usability.</span></li>
                    </ul>
                    <p><b>Education</b></p>
                    <p><span lang="en">Bachelor of Science: </span><b>Computer Information Systems </b><span lang="en">- 2014</span></p>
                    <p><b>Columbia University</b><span lang="en">, NY</span></p>
                    <p><b>Languages</b></p>
                    <p>Spanish &ndash; C2</p>
                    <p>Chinese &ndash; A1</p>
                    <p><b>Certifications</b></p>
                    <p><span>PHP Framework (certificate): </span><b lang="en" class="calibre4">Zend, Codeigniter, Symfony</b><span lang="en">.</span></p>
                    <p><span>Programming Languages: </span><b>JavaScript, HTML5, PHP OOP, CSS, SQL, MySQL</b><span lang="en">.</span></p>
                    <p>&nbsp;</p>

                </div>

    </body>

    </html>